@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-primary">
    <p>This privacy policy and our related Privacy Notices
     describe how we collect, use, protect and share information
    about you that we collect when you use any of our products and services, our websites,
    or apps or otherwise interact with us (Services).</p>
</div>
