
@{
    ViewData["Title"] = "Chart";
}

<h3 class="text-center h-25 text-info">Last 30 days Booking</h3>

<div class="card mb-3">
    <div class="card-body p-3">
        <div class="chart">
            <canvas id="bar-chart" class="chart-canvas" height="300"></canvas>
        </div>
    </div>
</div>
<script src="~/js/chart.min.js" ></script>
<script type="text/javascript">
    // Bar chart
    var ctx5 = document.getElementById("bar-chart").getContext("2d");
     var model = @Html.Raw(ViewData["Data"]);
    new Chart(ctx5, {
        type: "bar",
        data: {
            labels: ['1-5', '6-10', '11-15', '16-20', '21-25', '26+'],
            datasets: [{
                label: "Sales by date",
                weight: 5,
                borderWidth: 0,
                borderRadius: 4,
                backgroundColor: '#3A416F',
                data: model,
                fill: false,
                maxBarThickness: 35
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#9ca2b7'
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: true,
                        drawTicks: true,
                    },
                    ticks: {
                        display: true,
                        color: '#9ca2b7',
                        padding: 10
                    }
                },
            },
        },
    });
</script>


